* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;	
	/* overflow: hidden; */
}

body {
  background-color: rgb(9, 5, 6);
	color: rgb(240, 200, 210);
	height: 100svh;
	text-align: center;
}

header {
	height: 10svh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	background-color: teal;
	height: 80svh;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	height: 10svh;
	display: flex;
	align-items: center;
	justify-content: center;
}
